@media(max-width: 768px) {
  :root {
    --fz-title: clamp(7.25rem, 6.8766rem + 1.2987vw, 7.5rem);
  }

  .header, .footer {
    min-height: 1024px;
  }

  .header__theme-menu {
    grid-column: 5;
    margin-block-start: 90%;
    padding-left: 0;
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__heading {
    align-self: center;
    margin-block-start: -15px;
  }

  .header__descr {
    max-width: 364px;
    margin-block-start: 22px;
  }

  .difficult-block {
    gap: 38px;
  }

  .difficult-block__list {
    gap: 24px;
  }

  .concetration-block__list {
    flex-direction: column;
  }

  .concetration-block__item {
    max-width: 100%;
  }

  .concetration-block__heading {
    max-width: 238px;
    margin-bottom: 43px;
  }

  .how-concetration-block__heading {
    max-width: 236px;
    width: 100%;
  }

  .how-concetration-block__list {
    padding-left: 7px;
    gap: 23px;
  }

  .content-list-heading {
    padding-left: 0;
  }
}

@media(max-width: 575px) {
  .side-padding {
    padding: 0 10px;
  }

  .rec-decoration {
    top: 11px;
    right: 38px;
  }
  
  .decorated-border::after {
    top: 10px;
    right: 10px;
  }

  .decorated-border::before {
    bottom: 10px;
    left: 10px;
  }

  .header, .footer {
    min-height: 668px;
  }

  .header {
    padding: 0 9px;
  }

  .header__descr {
    max-width: 100%;
    grid-column: span 5;
    margin-block-start: 27px;
  }

  .header__heading {
    line-height: 82%;
    margin-block-start: 1px;
  }

  .header__theme-menu {
    margin-block-start: 50%;
  }

  .difficult-block {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 20px;
  }

  .difficult-block__list {
    gap: 27px;
  }

  .concetration-block {
    padding-top: 0;
  }

  .content {
    gap: 56px;
    padding-bottom: 50px;
  }

  .concetration-block__heading {
    max-width: 100%;
    margin-bottom: 21px;
  }

  .concetration-block__list {
    gap: 24px;
  }

  .how-concetration-block {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .how-concetration-block__heading {
    max-width: 100%;
  }

  .how-concetration-block__list {
    padding-left: 0;
  }

  .how-concetration-block__list {
    gap: 24px;
  }

  .gallery__list {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    padding-top: 0;
  }

  .gallery__heading {
    margin-bottom: 12px;
  }

  .gallery__list {
    gap: 10px;
  }

  .footer {
    padding-top: 0;
    margin-block-start: 41px;
  }
}