/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: var(--fz-sm);
}

.page {
  background-color: var(--body-bg-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: start;
  gap: 20px;
  min-height: 768px;
  padding-top: 20px;
  padding-right: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/cover-image-dark.png);
}

.decorated-border {
  position: relative;
}

.decorated-border::after, .decorated-border::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-border::after {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-border::before {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.rec-decoration {
  position: absolute;
  top: 21px;
  right: 48px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec-decoration::before {
  content: '';
  position: absolute;
  top: 7px;
  right: -19px;
  bottom: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.header__theme-menu {
  grid-column: 3;
  grid-row: 1;
  padding-left: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-menu-button {
  border: transparent;
  padding: 0 13px;
  color: var(--accent-color);
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__heading {
  grid-column: span 4;
  grid-row: 2;
  margin: 0;
  margin-block-start: 5px;
  color: var(--color-heading);
  font-size: var(--fz-title);
  text-shadow: 4px 4px var(--accent-color);
}

.header__descr {
  grid-column: 3 / span 3;
  grid-row: 3;
  justify-self: end;
  max-width: 491px;
  margin: 0;
  margin-block-start: 30px;
  color: var(--secondary-color);
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
}

.padding-block {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-heading {
  margin: 0;
  margin-bottom: 11px;
  font-size: var(--fz-sm);
  color: var(--secondary-color);
}

.difficult-block {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.block-heading {
  margin: 0;
  color: var(--accent-color);
  font-size: var(--fz-sm);
}

.item-text {
  color: var(--color-text);
  line-height: 23px;
}

.difficult-block__heading {
  grid-column: 1 / span 2;
}

.difficult-block__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 3 / span 4;
}

.concetration-block {
  padding-top: 5px;
}

.concetration-block__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.concetration-block__heading {
  max-width: 315px;
  margin-bottom: 20px;
}

.concetration-block__item {
  width: 100%;
}

.how-concetration {
  display: grid;
  padding-top: 0;
}

.how-concetration-block {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 5px;
}

.how-concetration-block__heading {
  grid-column: 1 / span 2;
}

.how-concetration-block__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  grid-column: 3 / span 4;
}

.how-concetration__list-heading {
  color: var(--secondary-color);
}

.content-list-heading {
  margin-bottom: 0px;
}

.how-concetration__item-heading {
  margin: 0;
  color: var(--secondary-color);
}

.how-concetration__text {
  margin: 0;
}

.gallery {
  padding-top: 2px;
}

.gallery__heading {
  margin-bottom: 20px;
  font-size: var(--fz-sm);
  color: var(--secondary-color);
}

.gallery__img {
  object-fit: cover;
}

.gallery__list {
  display: grid;
  grid-auto-flow: dense;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  align-items: stretch;
}

.gallery-grid__big-cell {
  grid-column: span 8;
}

.gallery-grid__long-cell {
  grid-column: span 4;
  grid-row: span 2;
}

.gallery-grid__small-cell {
  grid-column: span 4;
}

.footer {
  margin-block-start: 61px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

.footer__heading {
  font-size: var(--fz-title);
  color: var(--color-heading);
}