:root {
  --body-bg-color: #000028;
  --accent-color: #ff0070;
  --secondary-color: #000028;
  --text-color: #F1B2CE;
  --card-title-color: #000028;
  --color-heading: #DB00FF;
  --color-text: #F1B2CE;
  --fz-sm: 18px;
}