@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --secondary-color: #353430;
    --body-bg-color: #fff;
    --color-heading: #FFC2E6;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --secondary-color: #353430;
  --body-bg-color: #fff;
  --color-heading: #FFC2E6;
  --accent-color-hover: #adadab;
}