@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --secondary-color: #353430;
    --body-bg-color: #fff;
    --color-heading: #FFC2E6;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
  }

  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .rec-decoration {
    display: none;
  }
  
  .link:hover {
    border-bottom: 1px solid var(--secondary-color);
  }
  
  .link:focus-visible {
    border-color: var(--secondary-color);
  }

  .item-text {
    color: var(--secondary-color);
  }

  .block-heading {
    color: var(--secondary-color);
  }

  .header__theme-menu-button {
    color: var(--secondary-color);
  }

  .header__theme-menu-button_active {
    border-color: var(--secondary-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--secondary-color);
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --secondary-color: #353430;
  --body-bg-color: #fff;
  --color-heading: #FFC2E6;
  --accent-color-hover: #adadab;
}

.page.theme_light .header {
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec-decoration {
  display: none;
}

.page.theme_light .link:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.page.theme_light .link:focus-visible {
  border-color: var(--secondary-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--secondary-color);
}

.page.theme_light .header__theme-menu-button_active {
  border-color: var(--secondary-color);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--secondary-color);
}

.page.theme_light .item-text {
  color: var(--secondary-color);
}

.page.theme_light .block-heading {
  color: var(--secondary-color);
}